{% extends "base.html" %}
{% block title %}Breadcrumbs{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<H1>Breadcrumb Manager</H1>
<h2>Under Construction</h2>

<table>
    <thead>
        <tr>
            <th>Filename</th>
            <th>Processed On</th>
        </tr>
    </thead>
    <tbody>
        {% for element in data %}
        <tr>
            <td>{{element.filename}}</td>
            <td>{{element.time_processed}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="import">Click here to import files</a>
<br>
<a href="upload">Click here to upload files</a>

{% endblock %}