/* VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Abel&family=Zen+Dots&display=swap');
:root {
    /* fonts */ 
    --header-font: 'Zen Dots', impact;
    --accent-font: 'Abel', verdana; 
    --body-font: 'Roboto Condensed', helvetica;
    /* colors */ 
    --light-accent: #8ed1fc; 
    --main-accent: #0693e3;
    --second-accent: #7bdcb5;
}

/* GENERAL */
body {
    background: var(--light-accent);
    font-family: var(--body-font);
}
.container {
    width: 50%;
    margin: 2em auto;
    padding: 1em 3em 3em 3em;
    border-radius: 1em;
    background: white;
    box-shadow: 2px 2px #ddd;
}
h1 {
    margin: 0;
    color: var(--main-accent);
    font-family: 'Zen Dots', impact;
    font-size: 4em;
    text-align: center;
}
h2 {
    color: var(--second-accent);
    margin: 0.5em 0;
}
a {
    font-family: var(--accent-font);
    text-decoration: none;
    color: var(--main-accent);
}
.callout {
    background: #eee;
    padding: 0.5em;
    border-radius: 1em;
    text-align: center;
    font-family: var(--accent-font);
    font-weight: 400;
}
